@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Oswald&family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

h1,
h2 {
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

/* img {
  width: 100%;
} */

.header {
  background-color: black;
  color: #fff;
  font-size: 24px;
  position: relative;
  margin-bottom: 100px;
  text-align: center;
}

@media (max-width: 715px) {
  .header {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 545px) {
  .header {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .header {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.ranking-box.card {
  width: 80%;
  margin: 0 auto;
  border-radius: 0px;
  display: grid;
  grid-template-columns: 10% 90%;
}

.movie-box {
  background-color: #fff;
  border: 1px solid lightgray;
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 100px repeat(4, 1fr);
  padding: 0 10px;
  grid-column: 1/3;
  /* max-height: 300px; */

  transition: transform 0.5s;
}

.movie-box:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.movie-rank-box {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.movie-box img {
  width: 200px;

  grid-column: 2/3;
}
.movie-title-description {
  grid-column: 3/5;
  text-align: justify;
  padding: 15px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-title-description h2 {
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
}

.movie-rating {
  grid-column: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.movie-rating h3 {
  font-weight: 500;
}

@media (max-width: 1000px) {
  .ranking-box.card {
    width: 90%;
  }
  .movie-box {
    font-size: 14px;
    height: 202px;
    padding: 0px;
    grid-template-columns: 50px repeat(3, 1fr) 75px;
  }
  .movie-rating {
    font-size: 15px;
  }
  .movie-box img {
    width: 140px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .movie-title-description {
    padding: 5px 15px;
  }
  .movie-rank-box {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .ranking-box.card {
    width: 90%;
  }
  .movie-box {
    font-size: 14px;
    height: 152px;
    padding: 0px;
    grid-template-columns: 50px repeat(3, 1fr) 75px;
  }
  .movie-rank-box {
    font-size: 20px;
  }
  .movie-box img {
    width: 100px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .movie-title-description {
    padding: 5px 15px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .movie-title-description p {
    display: none;
  }

  .movie-rating {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .movie-title-description {
    grid-column: 3/6;
  }
  .movie-rating {
    display: none;
  }
}

@media (max-width: 400px) {
  .movie-box {
    height: 117px;
  }
  .movie-box img {
    width: 75px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
  }
  .movie-title-description {
    grid-column: 3/6;
    font-size: 10px;
  }
  .movie-rating {
    display: none;
  }
}

.movie-info-box-modal {
  background-color: #fff;
  color: black;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.movie-info-box-modal img {
  width: auto;
  max-width: 50%;
  height: 100%;
}

.movie-info-text {
  width: 100%;
  text-align: justify;
  margin: 10px 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.movie-info-title-description h1 {
  text-align: center;
  margin-bottom: 20px;
}

.movie-info-box-rating {
  text-align: center;
  font-size: 50px;
}

.close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
}

@media (max-width: 1140px) {
  .movie-info-box-modal {
    flex-direction: column;
    overflow: auto;
  }
  .movie-info-box-modal img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
  }
  .movie-info-text {
    width: auto;
    font-size: 18px;
  }
  .movie-info-box-rating {
    font-size: 30px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .movie-info-text {
    font-size: 14px;
  }
  .movie-info-box-modal img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
  }
}
/* Utilities */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.95);
  background-color: crimson;
}

/* Remove input:number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ADD MOVIE */
.modal-blur {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
}

.add-movie-form.card {
  width: 60vw;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 80%;
}
.form-control input[type="text"] {
  border: 0;
  border-bottom: 2px solid rgb(255, 132, 194);
  padding: 10px 0px;
  margin: 5px 10px;
  font-size: 16px;
}

.form-control input[type="text"]:focus {
  outline: none;
}
